
<div class="container row">
    <div class="col-6">
        <h1>Hi I'm {{pet.name}}</h1>
        <p>Meet {{pet.name}}</p>
        <p>{{pet.description}}</p>
        
        <h3>All About Me</h3>
        <ul>
            <li>Breed: {{pet.breed}}</li>
            <li>Age: {{pet.age}}</li>
            <li>Gender: {{pet.gender}}</li>
        </ul>

        <h3>Contact</h3>
        <ul>
            <li>Phone: {{pet.contact}}</li>
            <li>Location: {{pet.location}}</li>
            <li>Address: {{pet.address}}</li>
        </ul>
    </div>
    
    <img class="col-5" src="images/{{pet.image}}" alt="">
</div>
